.hero {
    width: 100%;
    aspect-ratio: 5 / 4;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    position: relative;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.hero>* {
    position: relative;
    z-index: 1;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heroTitle {
    margin-bottom: var(--gap-md);
    margin-top: 200px;
}

.heroSubtitle {
    margin-bottom: var(--gap-2xl);
}

.ctaButton {
    display: inline-flex;
    align-items: center;
}

.iconLeft {
    width: 20px;
    height: 20px;
}

.iconRight {
    width: 20px;
    height: 20px;
}