.hero {
    width: 100%;
    aspect-ratio: 5 / 4;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    position: relative;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.hero>* {
    position: relative;
    z-index: 1;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heroTitle {
    margin-bottom: var(--gap-md);
    margin-top: 200px;
}

.heroSubtitle {
    margin-bottom: var(--gap-2xl);
}

.searchForm {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
}

.searchInput {
    width: 100%;
    padding: var(--space-70) var(--space-180) var(--space-70) var(--space-100);
    border-radius: var(--border-radius-button);
    border: 1px solid var(--background-neutral--alpha--white-25);
    background-color: var(--background-neutral--alpha--white-25);
    color: var(--content-neutral--body-invert);
    font-size: var(--typography-font-size-100);
    outline: none;
    transition: border-color 0.3s;
}

.searchInput::placeholder {
    color: var(--content-neutral--body-subtle);
}

.searchInput:focus {
    border-color: var(--background-neutral--alpha--white-50);
}

.searchButton {
    position: absolute;
    right: var(--gap-sm);
    top: 50%;
    transform: translateY(-50%);
}

.icon {
    width: var(--space-100);
    height: var(--space-100);
}