.section {
    padding: var(--padding-2xl) 0;
}

.imageWrapper {
    display: flex;
    align-items: center;
    padding: 0 var(--padding-md);
    order: 1;
}

.textWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: var(--padding-md);
    order: 2;
}

.title {
    color: var(--content-neutral--title);
    margin: 0 0 var(--gap-lg) 0;
}

.description {
    color: var(--content-neutral--caption);
    margin: 0 0 var(--gap-sm) 0;
}


.icon {
    width: 16px;
    height: 16px;
}

/* Mobile & Tablet: Text above image */
@media (max-width: 767px) {
    .imageWrapper {
        order: 2;
    }

    .textWrapper {
        order: 1;
    }
}