/* [project]/public/testing-page/test-gambar/components/lacto-navigation.module.css [app-client] (css) */
.lacto-navigation-module__bn30PG__navigationWrapper {
  width: 100%;
  padding-top: var(--padding-xs);
  padding-bottom: var(--padding-xs);
  background-color: #0000;
  transition: background-color .3s;
  position: relative;
}

.lacto-navigation-module__bn30PG__scrolled {
  visibility: inherit;
}

.lacto-navigation-module__bn30PG__navigationWrapper.lacto-navigation-module__bn30PG__scrolled {
  background-color: var(--background-neutral--default);
}

.lacto-navigation-module__bn30PG__mobileNav {
  display: none !important;
}

.lacto-navigation-module__bn30PG__menuItemWrapper {
  min-width: 0;
  height: 100%;
  padding: 0 var(--padding-xs);
  justify-content: center;
  align-items: center;
  display: flex;
}

.lacto-navigation-module__bn30PG__truncatedText {
  text-align: center;
  width: 100%;
}

.lacto-navigation-module__bn30PG__logoWrapper {
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
}

.lacto-navigation-module__bn30PG__logoContainer {
  width: 132px;
  height: 56px;
}

.lacto-navigation-module__bn30PG__logoImage {
  width: 100%;
  height: 100%;
}

.lacto-navigation-module__bn30PG__mobileHeader {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.lacto-navigation-module__bn30PG__burgerButton {
  cursor: pointer;
  padding: var(--padding-xs);
  color: var(--content-neutral--title);
  background: none;
  border: none;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.lacto-navigation-module__bn30PG__mobileLogoWrapper {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.lacto-navigation-module__bn30PG__mobileBurgerWrapper {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.lacto-navigation-module__bn30PG__dialogWrapper {
  pointer-events: none;
  visibility: hidden;
  padding-bottom: calc(16px + env(safe-area-inset-bottom));
  align-items: flex-end;
  display: flex;
  position: fixed;
  inset: 0;
}

.lacto-navigation-module__bn30PG__dialogWrapper.lacto-navigation-module__bn30PG__open {
  visibility: visible;
}

.lacto-navigation-module__bn30PG__mobileDialog {
  pointer-events: auto;
  background-color: var(--background-neutral--default);
  border-radius: var(--border-radius-lg);
  box-shadow: var(--shadow-lg);
  width: 100%;
  max-height: 80vh;
  padding: var(--padding-md);
  opacity: 0;
  flex-direction: column;
  margin: 0;
  transition: transform .3s cubic-bezier(.4, 0, .2, 1), opacity .3s;
  display: flex;
  position: relative;
  overflow-y: auto;
  transform: translateY(100%);
}

.lacto-navigation-module__bn30PG__dialogWrapper.lacto-navigation-module__bn30PG__open .lacto-navigation-module__bn30PG__mobileDialog {
  opacity: 1;
  transform: translateY(0);
}

.lacto-navigation-module__bn30PG__mobileMenuLink {
  padding: var(--padding-sm);
  border-bottom: 1px solid var(--stroke-neutral--neutral);
}

.lacto-navigation-module__bn30PG__mobileMenuLink:last-child {
  border-bottom: none;
}

.lacto-navigation-module__bn30PG__mobileLinkText {
  width: 100%;
  display: block;
}

@media (max-width: 767px) {
  .lacto-navigation-module__bn30PG__desktopNav {
    display: none !important;
  }

  .lacto-navigation-module__bn30PG__mobileNav {
    display: flex !important;
  }

  .lacto-navigation-module__bn30PG__navigationWrapper .lacto-navigation-module__bn30PG__grid {
    display: grid;
  }

  .lacto-navigation-module__bn30PG__logoContainer {
    width: 74px;
    height: 32px;
  }
}

/*# sourceMappingURL=public_testing-page_test-gambar_components_lacto-navigation_module_css_bad6b30c._.single.css.map*/