/* [project]/public/testing-page/test-gambar/components/terra-testimony.module.css [app-client] (css) */
.terra-testimony-module__B3tC1G__container {
  padding: var(--padding-xl) 0;
}

.terra-testimony-module__B3tC1G__cardsWrapper {
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  grid-auto-columns: 25%;
  grid-auto-flow: column;
  justify-content: flex-start;
  display: grid;
  overflow: auto hidden;
}

.terra-testimony-module__B3tC1G__cardsWrapper::-webkit-scrollbar {
  display: none;
}

.terra-testimony-module__B3tC1G__itemWrapper {
  scroll-snap-align: start;
  padding: var(--padding-md);
  justify-content: center;
  min-width: 0;
  display: flex;
}

@media (min-width: 1280px) {
  .terra-testimony-module__B3tC1G__cardsWrapper {
    grid-auto-columns: 25%;
  }

  .terra-testimony-module__B3tC1G__itemWrapper {
    width: 100%;
    min-width: 0;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .terra-testimony-module__B3tC1G__cardsWrapper {
    grid-auto-columns: 30%;
  }

  .terra-testimony-module__B3tC1G__itemWrapper {
    width: 100%;
    min-width: 0;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .terra-testimony-module__B3tC1G__cardsWrapper {
    grid-auto-columns: 320px;
  }

  .terra-testimony-module__B3tC1G__itemWrapper {
    width: 100%;
    min-width: 0;
  }
}

@media (max-width: 767px) {
  .terra-testimony-module__B3tC1G__cardsWrapper {
    grid-auto-columns: 320px;
  }

  .terra-testimony-module__B3tC1G__itemWrapper {
    width: 100%;
    min-width: 0;
  }
}

.terra-testimony-module__B3tC1G__card {
  aspect-ratio: 4 / 5;
  background: var(--background-neutral--default);
  border-radius: var(--border-radius-lg);
  width: 100%;
  position: relative;
  overflow: hidden;
  transform: translateZ(0);
}

.terra-testimony-module__B3tC1G__terraTestimoniImage {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.terra-testimony-module__B3tC1G__terraTestimoniDescriptionCard {
  bottom: var(--padding-sm);
  left: var(--padding-sm);
  right: var(--padding-sm);
  background: var(--background-neutral--default);
  border-radius: var(--border-radius-md);
  -webkit-backdrop-filter: blur(5.5px);
  padding: var(--padding-lg) var(--padding-sm) var(--padding-sm) var(--padding-sm);
  pointer-events: auto;
  flex-direction: column;
  align-items: center;
  display: flex;
  position: absolute;
}

@media (max-width: 767px) {
  .terra-testimony-module__B3tC1G__terraTestimoniDescriptionCard {
    padding-top: 40px;
  }
}

.terra-testimony-module__B3tC1G__avatarImg {
  border: 4px solid var(--background-neutral--default);
  width: 52px;
  height: 52px;
  box-shadow: var(--shadow--button);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%);
}

.terra-testimony-module__B3tC1G__name {
  text-align: left;
  max-width: 100%;
}

.terra-testimony-module__B3tC1G__role {
  opacity: .6;
  text-align: left;
  max-width: 100%;
  color: var(--content-neutral--caption);
  margin-bottom: var(--gap-xs);
}

.terra-testimony-module__B3tC1G__description {
  opacity: .8;
  text-align: left;
  max-width: 100%;
  color: var(--content-neutral--body);
  word-break: break-word;
}

.terra-testimony-module__B3tC1G__paginator {
  justify-content: center;
  gap: var(--gap-sm);
  margin-top: var(--gap-sm);
  display: flex;
}

@media (max-width: 1023px) {
  .terra-testimony-module__B3tC1G__paginator {
    display: none;
  }
}

.terra-testimony-module__B3tC1G__dot {
  border-radius: var(--border-radius-lg);
  background: var(--background-neutral--neutral-subtle);
  cursor: pointer;
  width: 40px;
  height: 4px;
  transition: background .3s, opacity .3s;
}

.terra-testimony-module__B3tC1G__dot:hover {
  opacity: .7;
}

.terra-testimony-module__B3tC1G__activeDot {
  background: var(--background-brand--button--primary-default);
}

/*# sourceMappingURL=public_testing-page_test-gambar_components_terra-testimony_module_css_bad6b30c._.single.css.map*/