.container {
    width: 100%;
    height: 100%;
    pointer-events: auto;
}

.imageWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    mix-blend-mode: normal;
}

.imageWrapper :global(.builder-image) {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.container[data-builder-selected="true"] {
    pointer-events: auto;
}