/* [project]/app/primitives.css [app-client] (css) */
:root {
  --brand-color-500: #00381c;
  --brand-color-400: #004e27;
  --brand-color-300: #007038;
  --brand-color-200: #2b885a;
  --brand-color-100: #6bac8c;
  --brand-color-75: #96c4ad;
  --brand-color-50: #e6f1eb;
  --system-color-green-500: #1b683e;
  --system-color-green-300: #2baa66;
  --system-color-green-50: #eaf7f0;
  --system-color-blue-500: #124191;
  --system-color-blue-300: #1e6aed;
  --system-color-blue-50: #e9ebf8;
  --system-color-yellow-500: #9c8800;
  --system-color-yellow-300: #ffdf00;
  --system-color-yellow-50: #fffce6;
  --system-color-red-500: #832524;
  --system-color-red-300: #d93b3b;
  --system-color-red-50: #fbebeb;
  --round-80: 12px;
  --round-100: 16px;
  --round-120: 20px;
  --round-button: 9999px;
  --round-circle: 9999px;
  --shadow-x-button: 0px;
  --shadow-x-md: 0px;
  --shadow-y-button: 0px;
  --shadow-y-md: 8px;
  --shadow-blur-button: 0px;
  --shadow-blur-md: 20px;
  --shadow-spread-button: 0px;
  --shadow-spread-md: 0px;
  --shadow-color-button: #0000;
  --shadow-color-md: #0000000a;
  --base-black: #000;
  --base-white: #fff;
  --alpha-black-75: #000000bf;
  --alpha-black-50: #00000080;
  --alpha-black-25: #00000040;
  --alpha-white-75: #ffffffbf;
  --alpha-white-50: #ffffff80;
  --alpha-white-25: #ffffff40;
  --grey-500: #212121;
  --grey-400: #424242;
  --grey-300: #8f8f8f;
  --grey-200: #bdbdbd;
  --grey-100: #eee;
  --grey-50: #fcfcfc;
  --space-60: 8px;
  --space-70: 12px;
  --space-80: 16px;
  --space-100: 24px;
  --space-120: 32px;
  --space-140: 40px;
  --space-180: 56px;
  --space-240: 80px;
  --typography-font-size-80: 12px;
  --typography-font-size-90: 14px;
  --typography-font-size-100: 16px;
  --typography-font-size-120: 20px;
  --typography-font-size-140: 24px;
  --typography-font-size-200: 36px;
  --typography-font-size-260: 48px;
  --typography-font-size-380: 72px;
  --typography-line-height-80: 20px;
  --typography-line-height-100: 24px;
  --typography-line-height-120: 28px;
  --typography-line-height-140: 32px;
  --typography-line-height-200: 44px;
  --typography-line-height-260: 56px;
  --typography-line-height-380: 80px;
  --font-family-heading: "Poppins", sans-serif;
  --font-family-body: "Lato", sans-serif;
  --font-family-caption: "Lato", sans-serif;
  --font-family-overline: "Lato", sans-serif;
  --font-family-action: "Lato", sans-serif;
  --font-weight-bold: 600;
  --font-weight-regular: 400;
  --font-weight-action: 600;
}

/* [project]/app/tokens.css [app-client] (css) */
:root {
  --scrim: var(--base-black);
  --backgroud-neutral--default: var(--base-white);
  --backgroud-neutral--neutral-strong: var(--base-black);
  --backgroud-neutral--neutral-mute: var(--grey-300);
  --backgroud-neutral--neutral-subtle: var(--grey-100);
  --backgroud-neutral--neutral-faint: var(--grey-50);
  --backgroud-neutral--button--neutral-default: var(--grey-500);
  --backgroud-neutral--button--neutral-hover: var(--base-black);
  --backgroud-neutral--button--invert-default: var(--base-white);
  --backgroud-neutral--button--invert-hover: var(--grey-50);
  --backgroud-neutral--alpha--black-75: var(--alpha-black-75);
  --backgroud-neutral--alpha--black-50: var(--alpha-black-50);
  --backgroud-neutral--alpha--black-25: var(--alpha-black-25);
  --backgroud-neutral--alpha--white-75: var(--alpha-white-75);
  --backgroud-neutral--alpha--white-50: var(--alpha-white-50);
  --backgroud-neutral--alpha--white-25: var(--alpha-white-25);
  --background-brand--brand-strong: var(--brand-color-300);
  --background-brand--brand-mute: var(--brand-color-50);
  --background-brand--informative-strong: var(--system-color-blue-300);
  --background-brand--informative-mute: var(--system-color-blue-50);
  --background-brand--positive-strong: var(--system-color-green-300);
  --background-brand--positive-mute: var(--system-color-green-50);
  --background-brand--warning-strong: var(--system-color-yellow-300);
  --background-brand--warning-mute: var(--system-color-yellow-50);
  --background-brand--danger-strong: var(--system-color-red-300);
  --background-brand--danger-mute: var(--system-color-red-50);
  --background-brand--button--primary-default: var(--brand-color-300);
  --background-brand--button--primary-hover: var(--brand-color-400);
  --content-neutral--title: var(--grey-500);
  --content-neutral--body: var(--grey-400);
  --content-neutral--caption: var(--grey-300);
  --content-neutral--body-subtle: var(--grey-200);
  --content-neutral--body-invert: var(--base-white);
  --content-neutral--button--primary: var(--base-white);
  --content-neutral--button--neutral: var(--grey-500);
  --content-neutral--button--ghost: var(--grey-400);
  --content-brand--brand-strong: var(--brand-color-500);
  --content-brand--brand: var(--brand-color-300);
  --content-brand--informative-strong: var(--system-color-blue-500);
  --content-brand--informative: var(--system-color-blue-300);
  --content-brand--positive-strong: var(--system-color-green-500);
  --content-brand--positive: var(--system-color-green-300);
  --content-brand--warning-strong: var(--system-color-yellow-500);
  --content-brand--warning: var(--system-color-yellow-300);
  --content-brand--danger-strong: var(--system-color-red-500);
  --content-brand--danger: var(--system-color-red-300);
  --stroke-brand--brand-strong: var(--brand-color-500);
  --stroke-brand--brand: var(--brand-color-300);
  --stroke-brand--informative-strong: var(--system-color-blue-500);
  --stroke-brand--informative: var(--system-color-blue-300);
  --stroke-brand--positive-strong: var(--system-color-green-500);
  --stroke-brand--positive: var(--system-color-green-300);
  --stroke-brand--warning-strong: var(--system-color-yellow-500);
  --stroke-brand--warning: var(--system-color-yellow-300);
  --stroke-brand--danger-strong: var(--system-color-red-500);
  --stroke-brand--danger: var(--system-color-red-300);
  --stroke-neutral--neutral: var(--grey-200);
  --stroke-neutral--invert: var(--base-white);
  --shadow--button: var(--shadow-x-button) var(--shadow-y-button) var(--shadow-blur-button) var(--shadow-spread-button) var(--shadow-color-button);
  --shadow--md: var(--shadow-x-md) var(--shadow-y-md) var(--shadow-blur-md) var(--shadow-spread-md) var(--shadow-color-md);
}

/* [project]/app/global.css [app-client] (css) */
:root {
  --bg-color: var(--grey-400);
  --text-color: var(--content-neutral--body-invert);
  --input-bg: var(--alpha-white-25);
  --input-border: var(--alpha-white-25);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--backgroud-neutral--default);
  color: var(--text-color);
  min-height: 100vh;
}

.h1 {
  font-family: var(--font-family-heading);
  font-size: var(--typhography-font-size-heading-xl);
  font-weight: var(--font-weight-bold);
  line-height: var(--typhography-line-height-heading-xl);
  word-wrap: break-word;
}

.h2 {
  font-family: var(--font-family-heading);
  font-size: var(--typhography-font-size-heading-lg);
  font-weight: var(--font-weight-bold);
  line-height: var(--typhography-line-height-heading-lg);
  word-wrap: break-word;
}

.h3 {
  font-family: var(--font-family-heading);
  font-size: var(--typhography-font-size-heading-md);
  font-weight: var(--font-weight-bold);
  line-height: var(--typhography-line-height-heading-md);
  word-wrap: break-word;
}

.h4 {
  font-family: var(--font-family-heading);
  font-size: var(--typhography-font-size-heading-sm);
  font-weight: var(--font-weight-bold);
  line-height: var(--typhography-line-height-heading-sm);
  word-wrap: break-word;
}

.h5, .h6 {
  font-family: var(--font-family-heading);
  font-size: var(--typhography-font-size-heading-xs);
  font-weight: var(--font-weight-bold);
  line-height: var(--typhography-line-height-heading-xs);
  word-wrap: break-word;
}

.subheader-h1 {
  font-family: var(--font-family-body);
  font-size: var(--typhography-font-size-heading-sm);
  font-weight: var(--font-weight-regular);
  line-height: var(--typhography-line-height-heading-sm);
  word-wrap: break-word;
}

.subheader-h2 {
  font-family: var(--font-family-body);
  font-size: var(--typhography-font-size-heading-xs);
  font-weight: var(--font-weight-regular);
  line-height: var(--typhography-line-height-heading-xs);
  word-wrap: break-word;
}

.body-bold {
  font-family: var(--font-family-body);
  font-size: var(--typhography-font-size-paragraph-md);
  font-weight: var(--font-weight-bold);
  line-height: var(--typhography-line-height-paragraph-md);
  word-wrap: break-word;
}

.body-regular {
  font-family: var(--font-family-body);
  font-size: var(--typhography-font-size-paragraph-md);
  font-weight: var(--font-weight-regular);
  line-height: var(--typhography-line-height-paragraph-md);
  word-wrap: break-word;
}

.body-link {
  font-family: var(--font-family-body);
  font-size: var(--typhography-font-size-paragraph-md);
  font-weight: var(--font-weight-bold);
  line-height: var(--typhography-line-height-paragraph-md);
  word-wrap: break-word;
  text-decoration: underline;
}

.caption-bold {
  font-family: var(--font-family-caption);
  font-size: var(--typhography-font-size-caption-md);
  font-weight: var(--font-weight-bold);
  line-height: var(--typhography-line-height-caption-md);
  word-wrap: break-word;
}

.caption-regular {
  font-family: var(--font-family-caption);
  font-size: var(--typhography-font-size-caption-md);
  font-weight: var(--font-weight-regular);
  line-height: var(--typhography-line-height-caption-md);
  word-wrap: break-word;
}

.caption-link {
  font-family: var(--font-family-caption);
  font-size: var(--typhography-font-size-caption-md);
  font-weight: var(--font-weight-bold);
  line-height: var(--typhography-line-height-caption-md);
  word-wrap: break-word;
  text-decoration: underline;
}

.button-md {
  font-family: var(--font-family-action);
  font-size: var(--typhography-font-size-paragraph-md);
  font-weight: var(--font-weight-bold);
  line-height: var(--typhography-line-height-paragraph-md);
  word-wrap: break-word;
}

.button-lg {
  font-family: var(--font-family-action);
  font-size: var(--typhography-font-size-heading-xs);
  font-weight: var(--font-weight-bold);
  line-height: var(--typhography-line-height-heading-xs);
  word-wrap: break-word;
}

.btn {
  cursor: pointer;
  font-family: var(--font-family-action);
  font-weight: var(--font-weight-bold);
  border-radius: var(--border-radius-button);
  border: none;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: all .3s;
  display: inline-flex;
}

.btn-sm {
  height: var(--size-button-sm);
  padding: 0 var(--space-70);
  font-size: var(--typhography-font-size-caption-md);
}

.btn-md {
  height: var(--size-button-md);
  padding: 0 var(--space-80);
  font-size: var(--typhography-font-size-paragraph-md);
}

.btn-lg {
  height: var(--size-button-lg);
  padding: 0 var(--space-100);
  font-size: var(--typhography-font-size-heading-xs);
}

.btn-brand-solid {
  background-color: var(--background-brand--button--primary-default);
  color: var(--content-neutral--button--primary);
}

.btn-brand-solid:hover {
  background-color: var(--background-brand--button--primary-hover);
}

.btn-brand-dark-solid {
  background-color: var(--brand-color-500);
  color: var(--base-white);
}

.btn-neutral-solid {
  background-color: var(--grey-500);
  color: var(--base-white);
}

.btn-black-solid {
  background-color: var(--base-black);
  color: var(--base-white);
}

.btn-outline {
  background-color: var(--base-white);
  border: 1px solid var(--grey-200);
  color: var(--grey-500);
}

.btn-outline:hover {
  border-color: var(--grey-300);
}

.btn-ghost {
  color: var(--content-brand--brand);
  gap: var(--space-60);
  background-color: #0000;
  padding: 0;
}

.btn-ghost:hover {
  color: var(--content-brand--brand-strong);
}

.btn-icon {
  border-radius: var(--border-radius-round);
  width: var(--size-button-sm);
  padding: 0;
}

.btn-icon.btn-sm {
  width: var(--size-button-sm);
}

.btn-icon.btn-md {
  width: var(--size-button-md);
}

.btn-icon.btn-lg {
  width: var(--size-button-lg);
}

.btn-primary {
  background-color: var(--background-brand--button--primary-default);
  color: var(--content-neutral--button--primary);
}

.btn-link {
  color: var(--content-brand--brand);
  gap: var(--space-60);
  font-size: var(--typhography-font-size-paragraph-md);
  background-color: #0000;
  padding: 0;
}

/* [project]/app/grid.css [app-client] (css) */
.container-grid {
  width: 100%;
  max-width: 1440px;
  padding-left: var(--grid-margin);
  padding-right: var(--grid-margin);
  margin-left: auto;
  margin-right: auto;
}

.grid {
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  gap: var(--grid-gutter);
  justify-content: center;
  width: 100%;
  display: grid;
}

.col-1 {
  grid-column: auto / span 1;
}

.col-2 {
  grid-column: auto / span 2;
}

.col-3 {
  grid-column: auto / span 3;
}

.col-4 {
  grid-column: auto / span 4;
}

.col-5 {
  grid-column: auto / span 5;
}

.col-6 {
  grid-column: auto / span 6;
}

.col-7 {
  grid-column: auto / span 7;
}

.col-8 {
  grid-column: auto / span 8;
}

.col-9 {
  grid-column: auto / span 9;
}

.col-10 {
  grid-column: auto / span 10;
}

.col-11 {
  grid-column: auto / span 11;
}

.col-12 {
  grid-column: auto / span 12;
}

:root {
  --grid-columns: 2;
  --grid-margin: 16px;
  --grid-gutter: 0;
  --padding-xs: var(--space-60);
  --padding-sm: var(--space-70);
  --padding-md: var(--space-80);
  --padding-lg: var(--space-80);
  --padding-xl: var(--space-80);
  --padding-2xl: var(--space-100);
  --gap-xs: var(--space-60);
  --gap-sm: var(--space-70);
  --gap-md: var(--space-80);
  --gap-lg: var(--space-100);
  --gap-xl: var(--space-140);
  --gap-2xl: var(--space-180);
  --border-radius-sm: var(--round-80);
  --border-radius-md: var(--round-100);
  --border-radius-lg: var(--round-120);
  --border-radius-round: var(--round-circle);
  --border-radius-button: var(--round-button);
  --typhography-font-size-heading-xs: var(--typography-font-size-100);
  --typhography-font-size-heading-sm: var(--typography-font-size-120);
  --typhography-font-size-heading-md: var(--typography-font-size-140);
  --typhography-font-size-heading-lg: var(--typography-font-size-200);
  --typhography-font-size-heading-xl: var(--typography-font-size-260);
  --typhography-font-size-paragraph-md: var(--typography-font-size-90);
  --typhography-font-size-caption-md: var(--typography-font-size-80);
  --typhography-line-height-heading-xs: var(--typography-line-height-100);
  --typhography-line-height-heading-sm: var(--typography-line-height-120);
  --typhography-line-height-heading-md: var(--typography-line-height-140);
  --typhography-line-height-heading-lg: var(--typography-line-height-200);
  --typhography-line-height-heading-xl: var(--typography-line-height-260);
  --typhography-line-height-paragraph-md: var(--typography-line-height-80);
  --typhography-line-height-caption-md: var(--typography-line-height-80);
  --size-button-sm: 32px;
  --size-button-md: 40px;
  --size-button-lg: 48px;
  --size-margin-md: 16px;
}

@media (min-width: 481px) and (max-width: 767px) {
  :root {
    --grid-columns: 8;
    --grid-margin: 40px;
    --grid-gutter: 0;
    --padding-xs: var(--space-60);
    --padding-sm: var(--space-80);
    --padding-md: var(--space-100);
    --padding-lg: var(--space-140);
    --padding-xl: var(--space-180);
    --padding-2xl: var(--space-240);
    --gap-xs: var(--space-60);
    --gap-sm: var(--space-80);
    --gap-md: var(--space-100);
    --gap-lg: var(--space-140);
    --gap-xl: var(--space-180);
    --gap-2xl: var(--space-240);
    --border-radius-sm: var(--round-80);
    --border-radius-md: var(--round-100);
    --border-radius-lg: var(--round-120);
    --border-radius-round: var(--round-circle);
    --border-radius-button: var(--round-button);
    --typhography-font-size-heading-xs: var(--typography-font-size-120);
    --typhography-font-size-heading-sm: var(--typography-font-size-140);
    --typhography-font-size-heading-md: var(--typography-font-size-200);
    --typhography-font-size-heading-lg: var(--typography-font-size-260);
    --typhography-font-size-heading-xl: var(--typography-font-size-380);
    --typhography-font-size-paragraph-md: var(--typography-font-size-100);
    --typhography-font-size-caption-md: var(--typography-font-size-90);
    --typhography-line-height-heading-xs: var(--typography-line-height-120);
    --typhography-line-height-heading-sm: var(--typography-line-height-140);
    --typhography-line-height-heading-md: var(--typography-line-height-200);
    --typhography-line-height-heading-lg: var(--typography-line-height-260);
    --typhography-line-height-heading-xl: var(--typography-line-height-380);
    --typhography-line-height-paragraph-md: var(--typography-line-height-100);
    --typhography-line-height-caption-md: var(--typography-line-height-80);
    --size-button-sm: 36px;
    --size-button-md: 42px;
    --size-button-lg: 56px;
    --size-margin-md: 40px;
  }
}

@media (min-width: 768px) {
  :root {
    --grid-columns: 12;
    --grid-margin: 120px;
    --grid-gutter: 0;
    --padding-xs: var(--space-60);
    --padding-sm: var(--space-80);
    --padding-md: var(--space-100);
    --padding-lg: var(--space-140);
    --padding-xl: var(--space-180);
    --padding-2xl: var(--space-240);
    --gap-xs: var(--space-60);
    --gap-sm: var(--space-80);
    --gap-md: var(--space-100);
    --gap-lg: var(--space-140);
    --gap-xl: var(--space-180);
    --gap-2xl: var(--space-240);
    --border-radius-sm: var(--round-80);
    --border-radius-md: var(--round-100);
    --border-radius-lg: var(--round-120);
    --border-radius-round: var(--round-circle);
    --border-radius-button: var(--round-button);
    --typhography-font-size-heading-xs: var(--typography-font-size-120);
    --typhography-font-size-heading-sm: var(--typography-font-size-140);
    --typhography-font-size-heading-md: var(--typography-font-size-200);
    --typhography-font-size-heading-lg: var(--typography-font-size-260);
    --typhography-font-size-heading-xl: var(--typography-font-size-380);
    --typhography-font-size-paragraph-md: var(--typography-font-size-100);
    --typhography-font-size-caption-md: var(--typography-font-size-90);
    --typhography-line-height-heading-xs: var(--typography-line-height-120);
    --typhography-line-height-heading-sm: var(--typography-line-height-140);
    --typhography-line-height-heading-md: var(--typography-line-height-200);
    --typhography-line-height-heading-lg: var(--typography-line-height-260);
    --typhography-line-height-heading-xl: var(--typography-line-height-380);
    --typhography-line-height-paragraph-md: var(--typography-line-height-100);
    --typhography-line-height-caption-md: var(--typography-line-height-80);
    --size-button-sm: 36px;
    --size-button-md: 42px;
    --size-button-lg: 56px;
    --size-margin-md: 120px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .col-tablet-1 {
    grid-column: auto / span 1;
  }

  .col-tablet-2 {
    grid-column: auto / span 2;
  }

  .col-tablet-3 {
    grid-column: auto / span 3;
  }

  .col-tablet-4 {
    grid-column: auto / span 4;
  }

  .col-tablet-5 {
    grid-column: auto / span 5;
  }

  .col-tablet-6 {
    grid-column: auto / span 6;
  }

  .col-tablet-7 {
    grid-column: auto / span 7;
  }

  .col-tablet-8 {
    grid-column: auto / span 8;
  }

  .offset-tablet-0 {
    grid-column-start: auto;
  }

  .offset-tablet-1 {
    grid-column-start: 2;
  }

  .offset-tablet-2 {
    grid-column-start: 3;
  }

  .offset-tablet-3 {
    grid-column-start: 4;
  }

  .offset-tablet-4 {
    grid-column-start: 5;
  }
}

@media (min-width: 768px) {
  .col-desktop-1 {
    grid-column: auto / span 1;
  }

  .col-desktop-2 {
    grid-column: auto / span 2;
  }

  .col-desktop-3 {
    grid-column: auto / span 3;
  }

  .col-desktop-4 {
    grid-column: auto / span 4;
  }

  .col-desktop-5 {
    grid-column: auto / span 5;
  }

  .col-desktop-6 {
    grid-column: auto / span 6;
  }

  .col-desktop-7 {
    grid-column: auto / span 7;
  }

  .col-desktop-8 {
    grid-column: auto / span 8;
  }

  .col-desktop-9 {
    grid-column: auto / span 9;
  }

  .col-desktop-10 {
    grid-column: auto / span 10;
  }

  .col-desktop-11 {
    grid-column: auto / span 11;
  }

  .col-desktop-12 {
    grid-column: auto / span 12;
  }

  .offset-desktop-0 {
    grid-column-start: auto;
  }

  .offset-desktop-1 {
    grid-column-start: 2;
  }

  .offset-desktop-2 {
    grid-column-start: 3;
  }

  .offset-desktop-3 {
    grid-column-start: 4;
  }

  .offset-desktop-4 {
    grid-column-start: 5;
  }

  .offset-desktop-5 {
    grid-column-start: 6;
  }

  .offset-desktop-6 {
    grid-column-start: 7;
  }
}

@media (max-width: 480px) {
  .col-mobile-1 {
    grid-column: auto / span 1;
  }

  .col-mobile-2 {
    grid-column: auto / span 2;
  }

  .offset-mobile-0 {
    grid-column-start: auto;
  }

  .offset-mobile-1 {
    grid-column-start: 2;
  }
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: start;
}

.justify-end {
  justify-content: end;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: start;
}

.align-end {
  align-items: end;
}

.grid-debug {
  position: relative;
}

.grid-debug:before {
  content: "";
  top: 0;
  left: var(--grid-margin);
  right: var(--grid-margin);
  background-image: repeating-linear-gradient(to right, #ff00001a 0, #ff00001a calc((100% - (var(--grid-columns)  - 1) * var(--grid-gutter)) / var(--grid-columns)), transparent calc((100% - (var(--grid-columns)  - 1) * var(--grid-gutter)) / var(--grid-columns)), transparent calc((100% - (var(--grid-columns)  - 1) * var(--grid-gutter)) / var(--grid-columns)  + var(--grid-gutter)));
  pointer-events: none;
  z-index: 9999;
  height: 100%;
  position: absolute;
}

/*# sourceMappingURL=app_67ea7b8c._.css.map*/