/* [project]/app/global.css [app-client] (css) */
:root {
  --bg-color: var(--grey-400);
  --text-color: var(--content-neutral--body-invert);
  --input-bg: var(--alpha-white-25);
  --input-border: var(--alpha-white-25);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--backgroud-neutral--default);
  color: var(--text-color);
  min-height: 100vh;
}

.h1 {
  font-family: var(--font-family-heading);
  font-size: var(--typhography-font-size-heading-xl);
  font-weight: var(--font-weight-bold);
  line-height: var(--typhography-line-height-heading-xl);
  word-wrap: break-word;
}

.h2 {
  font-family: var(--font-family-heading);
  font-size: var(--typhography-font-size-heading-lg);
  font-weight: var(--font-weight-bold);
  line-height: var(--typhography-line-height-heading-lg);
  word-wrap: break-word;
}

.h3 {
  font-family: var(--font-family-heading);
  font-size: var(--typhography-font-size-heading-md);
  font-weight: var(--font-weight-bold);
  line-height: var(--typhography-line-height-heading-md);
  word-wrap: break-word;
}

.h4 {
  font-family: var(--font-family-heading);
  font-size: var(--typhography-font-size-heading-sm);
  font-weight: var(--font-weight-bold);
  line-height: var(--typhography-line-height-heading-sm);
  word-wrap: break-word;
}

.h5, .h6 {
  font-family: var(--font-family-heading);
  font-size: var(--typhography-font-size-heading-xs);
  font-weight: var(--font-weight-bold);
  line-height: var(--typhography-line-height-heading-xs);
  word-wrap: break-word;
}

.subheader-h1 {
  font-family: var(--font-family-body);
  font-size: var(--typhography-font-size-heading-sm);
  font-weight: var(--font-weight-regular);
  line-height: var(--typhography-line-height-heading-sm);
  word-wrap: break-word;
}

.subheader-h2 {
  font-family: var(--font-family-body);
  font-size: var(--typhography-font-size-heading-xs);
  font-weight: var(--font-weight-regular);
  line-height: var(--typhography-line-height-heading-xs);
  word-wrap: break-word;
}

.body-bold {
  font-family: var(--font-family-body);
  font-size: var(--typhography-font-size-paragraph-md);
  font-weight: var(--font-weight-bold);
  line-height: var(--typhography-line-height-paragraph-md);
  word-wrap: break-word;
}

.body-regular {
  font-family: var(--font-family-body);
  font-size: var(--typhography-font-size-paragraph-md);
  font-weight: var(--font-weight-regular);
  line-height: var(--typhography-line-height-paragraph-md);
  word-wrap: break-word;
}

.body-link {
  font-family: var(--font-family-body);
  font-size: var(--typhography-font-size-paragraph-md);
  font-weight: var(--font-weight-bold);
  line-height: var(--typhography-line-height-paragraph-md);
  word-wrap: break-word;
  text-decoration: underline;
}

.caption-bold {
  font-family: var(--font-family-caption);
  font-size: var(--typhography-font-size-caption-md);
  font-weight: var(--font-weight-bold);
  line-height: var(--typhography-line-height-caption-md);
  word-wrap: break-word;
}

.caption-regular {
  font-family: var(--font-family-caption);
  font-size: var(--typhography-font-size-caption-md);
  font-weight: var(--font-weight-regular);
  line-height: var(--typhography-line-height-caption-md);
  word-wrap: break-word;
}

.caption-link {
  font-family: var(--font-family-caption);
  font-size: var(--typhography-font-size-caption-md);
  font-weight: var(--font-weight-bold);
  line-height: var(--typhography-line-height-caption-md);
  word-wrap: break-word;
  text-decoration: underline;
}

.button-md {
  font-family: var(--font-family-action);
  font-size: var(--typhography-font-size-paragraph-md);
  font-weight: var(--font-weight-bold);
  line-height: var(--typhography-line-height-paragraph-md);
  word-wrap: break-word;
}

.button-lg {
  font-family: var(--font-family-action);
  font-size: var(--typhography-font-size-heading-xs);
  font-weight: var(--font-weight-bold);
  line-height: var(--typhography-line-height-heading-xs);
  word-wrap: break-word;
}

.btn {
  cursor: pointer;
  font-family: var(--font-family-action);
  font-weight: var(--font-weight-bold);
  border-radius: var(--border-radius-button);
  border: none;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: all .3s;
  display: inline-flex;
}

.btn-sm {
  height: var(--size-button-sm);
  padding: 0 var(--space-70);
  font-size: var(--typhography-font-size-caption-md);
}

.btn-md {
  height: var(--size-button-md);
  padding: 0 var(--space-80);
  font-size: var(--typhography-font-size-paragraph-md);
}

.btn-lg {
  height: var(--size-button-lg);
  padding: 0 var(--space-100);
  font-size: var(--typhography-font-size-heading-xs);
}

.btn-brand-solid {
  background-color: var(--background-brand--button--primary-default);
  color: var(--content-neutral--button--primary);
}

.btn-brand-solid:hover {
  background-color: var(--background-brand--button--primary-hover);
}

.btn-brand-dark-solid {
  background-color: var(--brand-color-500);
  color: var(--base-white);
}

.btn-neutral-solid {
  background-color: var(--grey-500);
  color: var(--base-white);
}

.btn-black-solid {
  background-color: var(--base-black);
  color: var(--base-white);
}

.btn-outline {
  background-color: var(--base-white);
  border: 1px solid var(--grey-200);
  color: var(--grey-500);
}

.btn-outline:hover {
  border-color: var(--grey-300);
}

.btn-ghost {
  color: var(--content-brand--brand);
  gap: var(--space-60);
  background-color: #0000;
  padding: 0;
}

.btn-ghost:hover {
  color: var(--content-brand--brand-strong);
}

.btn-icon {
  border-radius: var(--border-radius-round);
  width: var(--size-button-sm);
  padding: 0;
}

.btn-icon.btn-sm {
  width: var(--size-button-sm);
}

.btn-icon.btn-md {
  width: var(--size-button-md);
}

.btn-icon.btn-lg {
  width: var(--size-button-lg);
}

.btn-primary {
  background-color: var(--background-brand--button--primary-default);
  color: var(--content-neutral--button--primary);
}

.btn-link {
  color: var(--content-brand--brand);
  gap: var(--space-60);
  font-size: var(--typhography-font-size-paragraph-md);
  background-color: #0000;
  padding: 0;
}

/*# sourceMappingURL=app_global_css_bad6b30c._.single.css.map*/