/* [project]/app/components/terra-banner-hero-with-search.module.css [app-client] (css) */
.terra-banner-hero-with-search-module__X4GI3a__hero {
  text-align: center;
  background-image: url("/images/hero-banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
  position: relative;
}

.terra-banner-hero-with-search-module__X4GI3a__hero:before {
  content: "";
  z-index: 0;
  position: absolute;
  inset: 0;
}

.terra-banner-hero-with-search-module__X4GI3a__hero > * {
  z-index: 1;
  position: relative;
}

.terra-banner-hero-with-search-module__X4GI3a__content {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.terra-banner-hero-with-search-module__X4GI3a__heroTitle {
  margin-bottom: var(--space-100);
}

.terra-banner-hero-with-search-module__X4GI3a__heroSubtitle {
  color: var(--content-neutral--body-subtle);
  margin-bottom: var(--space-180);
}

.terra-banner-hero-with-search-module__X4GI3a__searchForm {
  max-width: 400px;
  margin: 0 auto;
  position: relative;
}

.terra-banner-hero-with-search-module__X4GI3a__searchInput {
  width: 100%;
  padding: var(--space-70) var(--space-180) var(--space-70) var(--space-100);
  border-radius: var(--border-radius-button);
  border: 1px solid var(--backgroud-neutral--alpha--white-25);
  background-color: var(--backgroud-neutral--alpha--white-25);
  color: var(--content-neutral--body-invert);
  font-size: var(--typography-font-size-100);
  outline: none;
  transition: border-color .3s;
}

.terra-banner-hero-with-search-module__X4GI3a__searchInput::placeholder {
  color: var(--content-neutral--body-subtle);
}

.terra-banner-hero-with-search-module__X4GI3a__searchInput:focus {
  border-color: var(--backgroud-neutral--alpha--white-50);
}

.terra-banner-hero-with-search-module__X4GI3a__searchButton {
  position: absolute;
  top: 50%;
  right: 6px;
  transform: translateY(-50%);
}

.terra-banner-hero-with-search-module__X4GI3a__icon {
  width: 18px;
  height: 18px;
}

/* [project]/app/components/terra-section-usp.module.css [app-client] (css) */
.terra-section-usp-module__GRY-Qa__section {
  padding: var(--space-240) 0;
  background-color: var(--backgroud-neutral--neutral-faint);
}

.terra-section-usp-module__GRY-Qa__sectionTitleWrapper {
  padding: var(--padding-md);
}

.terra-section-usp-module__GRY-Qa__sectionTitle {
  color: var(--content-neutral--title);
}

.terra-section-usp-module__GRY-Qa__card {
  padding: var(--padding-md);
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.terra-section-usp-module__GRY-Qa__cardTitle {
  color: var(--content-neutral--title);
  margin-bottom: var(--gap-md);
}

.terra-section-usp-module__GRY-Qa__cardDescription {
  color: var(--content-neutral--caption);
  margin-bottom: var(--gap-sm);
}

.terra-section-usp-module__GRY-Qa__icon {
  width: 16px;
  height: 16px;
}

@media (max-width: 480px) {
  .terra-section-usp-module__GRY-Qa__card {
    margin-bottom: var(--space-140);
  }

  .terra-section-usp-module__GRY-Qa__card:last-child {
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=app_components_35c03104._.css.map*/