.hero {
    width: 100%;
    aspect-ratio: 5 / 4;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    position: relative;
    background-image: url('/images/hero-banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero>* {
    position: relative;
    z-index: 1;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heroTitle {
    margin-bottom: var(--gap-md);
    margin-top: 200px;
}

/* Mobile & Tablet */
@media (max-width: 1023px) {
    .heroTitle {
        margin-top: var(--gap-lg);
    }
}

.heroSubtitle {
    margin-bottom: var(--gap-2xl);
}

.searchForm {
    position: relative;
    max-width: 328px;
    margin: 0 auto;
}

.searchContainer {
    position: relative;
    width: 328px;
    max-width: 328px;
}



.searchInput {
    width: 100%;
    height: var(--size-button-lg);
    padding: 0 var(--gap-xl) 0 var(--padding-md);
    border-radius: var(--border-radius-button);
    border: 1px solid var(--base-white);
    background-color: var(--background-neutral--alpha--white-25);
    color: var(--content-neutral--body-invert);
    outline: none;
}

.searchInput::placeholder {
    color: var(--content-neutral--body-invert);
    opacity: 1;
}

.searchButton {
    position: absolute;
    right: var(--padding-xs);
    top: 50%;
    transform: translateY(-50%);
}

.icon {
    width: 24px;
    height: 24px;
}