/* 1. VARIABLES & GLOBAL */

:root {
    /* colors */
    --rv-lunar-50: #e3f2fd;
    --rv-lunar-100: #bbdefb;
    --rv-lunar-200: #64b5f6;
    --rv-lunar-300: #1976d2;
    --rv-lunar-400: #1565c0;
    --rv-lunar-500: #0d47a1;
    --rv-neutral-50: #FFFFFF;
    --rv-neutral-75: #D1D1D1;
    --rv-neutral-100: #A0A0A0;
    --rv-neutral-200: #404040;
    --rv-neutral-300: #2B2B2B;
    --rv-neutral-400: #1E1E1E;
    --rv-neutral-500: #121212;
    --rv-bdr: #1e1e1e;
    --rv-white: #ffffff;
    --rv-black: #000000;
    --rv-danger: #ef4444;
    --rv-success: #22c55e;

    /* shadow */
    --rv-shd-btn: 0 2px 4px rgba(0, 0, 0, .1), inset 0 1px 0 rgba(255, 255, 255, .05);
    --rv-shd-active: inset 0 2px 4px rgba(0, 0, 0, 0.4);
    --rv-shd-input: inset 0 2px 4px rgba(0, 0, 0, .1);
    --rv-shd-pop: 0 12px 60px 8px rgba(0, 0, 0, 0.9), 0 0 0 1px rgba(255, 255, 255, 0.05);
    --rv-shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

    /* component size */
    --rv-h-btn: 32px;
    --rv-h-topbar: 64px;
    --rv-w-sidebar: 360px;
    --rv-w-pop: 362px;

    /* spacing */
    --rv-space-xs: 4px;
    --rv-space-sm: 8px;
    --rv-space-md: 12px;
    --rv-space-lg: 16px;
    --rv-space-xl: 24px;

    /* radius */
    --rv-radius-sm: 4px;
    --rv-radius-md: 8px;
    --rv-radius-lg: 12px;

    /* font */
    --rv-font-family-default: 'Plus Jakarta Sans', sans-serif;
    --rv-font-family-mono: 'Ui-Monospace', 'SF Mono', 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', monospace;
    --rv-font-weight-regular: 400;
    --rv-font-weight-medium: 500;
    --rv-font-weight-bold: 700;

    --rv-fs-xs: 10px;
    --rv-fs-sm: 12px;
    --rv-fs-md: 14px;
    --rv-fs-lg: 16px;
    --rv-fs-xl: 20px;
    --rv-fs-2xl: 24px;
    --rv-fs-3xl: 32px;

    --rv-lh-tight: 1.2;
    --rv-lh-base: 1.5;
}